.hamburger-menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}
.bar-top,
.bar-middle,
.bar-bottom {
  height: 5px;
  background: #ddd;
  border-radius: 5px;
  margin: 4px 0;
  transform-origin: left;
  transition: all 0.3s;
}
.hamburger-menu--active .bar-top {
  transform: rotate(45deg);
}
.hamburger-menu--active .bar-middle {
  transform: translateX(1rem);
  opacity: 0;
}
.hamburger-menu--active .bar-bottom {
  transform: rotate(-45deg);
}

.nav-links {
  transition: all 0.2s;
  margin-inline: auto;
  padding-inline: 1.5rem;
  padding-block: 8px;
  position: relative;
}

.nav-links:hover {
  color: #fff;
  cursor: pointer;
}

.nav-links::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  transition: all 0.4s;
  z-index: -1;
  margin: auto;
}

.nav-links:hover::after {
  width: 100%;
}